[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=iLab\nHomepage
Type=Link
URL=http://www.cs.rutgers.edu/resources/systems/ilab
Comment=manditory
Icon=/usr/local/share/desktop-icons/etc/images/DCIS_alpha.gif
