#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MATLAB
Type=Application
Terminal=false
Exec=/usr/local/bin/matlab -desktop
Comment=optional
Icon=/usr/local/share/desktop-icons/etc/images/matlab_alpha_icon.png
